Tests: build2
Restrictions: allow-stderr, superficial
Depends: build-essential, python2-gobject-2-dev, python2-dev

Tests: python2
Restrictions: allow-stderr, superficial
Depends: python2-gobject-2

Tests: python2-dbg
Restrictions: allow-stderr, superficial
Depends: python2-gobject-2-dbg
