Package: python-gobject-2-dbg
Source: pygobject-2
Version: 2.28.6-15
Architecture: amd64
Maintainer: Josselin Mouette <joss@debian.org>
Installed-Size: 1562
Depends: python-gobject-2 (= 2.28.6-15), libc6 (>= 2.14), libffi8 (>= 3.4), libglib2.0-0t64 (>= 2.42.0)
Breaks: python-gobject-dbg (<< 2.90)
Replaces: python-gobject-dbg (<< 2.90)
Section: debug
Priority: optional
Description: deprecated static Python bindings for the GObject library (debug extension)
 GObject is an abstraction layer that allows programming with an object
 paradigm that is compatible with many languages. It is a part of Glib,
 the core library used to build GTK+ and GNOME.
 .
 This package contains the static Python bindings for gobject, glib, and gio.
 These are deprecated by dynamic GObject-Introspection bindings (which are
 provided by the python-gi package), and should not be used in newly
 written code. These static bindings just exist to provide backwards
 compatibility for GNOME 2 based software.
 .
 This package contains the extensions built for the Python debug interpreter.
Build-Ids: 5dba8bfee8c78a42f37698c1e3b4dabd26940763
