#!/usr/bin/make -f
DEB_COMPRESS_EXCLUDE= .js .inv

PYTHON=python2
prefix=/usr
PYCAIRO_VERSION_MAJOR=2
PYCAIRO_VERSION_MAJOR=7
PYCAIRO_VERSION_MICRO=18
VERSION=2.7

%:
	dh $@ --with python2,sphinxdoc --buildsystem=pybuild --with $(PYTHON) 

	# dh $@  --buildsystem=pybuild --with python2,sphinxdoc
	#dh $@ --buildsystem=pybuild --with $PYTHON

override_dh_auto_test:
version=2

override_dh_update_autotools_config:
	dh_update_autotools_config -O--buildsystem=pybuild 

override_dh_auto_configure:
	$(PYTHON) setup.py config
	#dh_auto_configure --builddir=obj-$(PYTHON)

override_dh_auto_install:
	$(PYTHON) setup.py install --root $(PWD)/debian/tmp/ --prefix=/usr
	#dh_auto_install --builddir=obj-$(PYTHON) 
	mkdir -p  $(PWD)/debian/tmp-doc/html

ovverride_dh_installdocs:

override_dh_auto_build:
	# dh_auto_build --buildsystem=pybuild --builddir=obj-$(PYTHON) --with $(PYTHON) install
	$(PYTHON) setup.py build

#	pybuild setup.py install --root $(PWD)/debian/tmp/
#	sphinx-build -bhtml docs debian/tmp-doc/html
#	python3 -m sphinx -bhtml docs debian/tmp-doc/html
	# to fix lintian: privacy-breach-generic
#	sed -ir 's|src="https:[^"]*|src="|' debian/tmp-doc/html/index.html


override_dh_auto_clean:
	$(PYTHON) setup.py clean
	# dh_auto_clean --buildsystem=pybuild
	rm -rf debian/tmp-doc
