Package: python-gobject-2-dev
Source: pygobject-2
Version: 2.28.6-15
Architecture: all
Maintainer: Josselin Mouette <joss@debian.org>
Installed-Size: 4564
Depends: libffi-dev (>= 3.0.5), libglib2.0-dev (>= 2.24.0), python2-dev, python-gobject-2 (>= 2.28.6-15)
Recommends: docbook-xsl
Breaks: python-gobject-dev (<< 2.90)
Replaces: python-gobject-dev (<< 2.90)
Section: oldlibs
Priority: optional
Description: development headers for the static GObject Python bindings
 GObject is an abstraction layer that allows programming with an object
 paradigm that is compatible with many languages. It is a part of Glib,
 the core library used to build GTK+ and GNOME.
 .
 This package contains the development headers needed to build
 static Python bindings relying on pygobject. Note that this is obsolete, new
 libraries and applications should use the dynamic gobject-introspection
 bindings (which are provided by the python-gi package).
